
* {
  box-sizing: border-box;
}
footer {
  color: white;
  background-color: rgb(58,58,58);
  clear:both;
}
.header-container {
  padding-left: 80px;
}
nav {
  width: auto;
  height: 40px;
  background-color: silver;
  color: black;
}
.container {
  margin: 0 auto;
  max-width: 500px;
  padding: 1rem;
}
.main-box {
  clear: both;
  float: left;
  max-width: 500px;
  padding-left: 80px;
}
h1 {
  font: 3rem;
}
header {
  background-color: rgb(44,154,183);
  font-family: "Arial", Helvetica, sans-serif;
  color: white;
}
a.nav {
  color: black;
}
.sidebar {
  float: right;
  overflow: auto;
  max-width: 250px;
  padding-right: 40px;
}
a {
  color: white;
}
.sidebar-cat {
  width: 250px;
}
