
* {
  box-sizing: border-box;
}
.cats {
  max-width: 500px;
}
footer {
  background-color: grey;
  clear:both;
}
.container {
  margin: 0 auto;
  max-width: 500px;
  padding: 1rem;
}
.main-box {
  float: left;
  max-width: 500px;
  padding-left: 40px;
}
h1 {
  font: 3rem;
}
header {
  background-color: skyblue;
}
.sidebar {
  float: right;
  overflow: auto;
  max-width: 300px;

}
 
